<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pong</title>
    <meta name="google" content="notranslate" />
    <link rel="shortcut icon" href="assets/favicon.webp" type="image/x-icon" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="circle" style="--r: 0"></div>
      {% for i in range(1, 11) %}
        <div class="square" style="--ro: {{ i }}"></div>
      {% endfor %}
    </div>
  </body>
</html>
